{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Order Date</th>
            <th>Order Status</th>
            <th>Amount Paid</th>
            <th>Order Details</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.user.first_name}} {{this.user.last_name}}
            </td>
            <td>
                {{this.user.address}}
            </td>
            <td>
                {{this.user.contact}}
            </td>
            <td>
                {{formatDate this.order_date}}
            </td>
            <td>
                {{this.order_status}}
            </td>
            <td>
                {{dollarAmount this.payment_total}}
            </td>
            <td>
                <a href="/orders/{{this.id}}/update" class="btn btn-secondary btn-sm">Update</a>
            </td>

            <td>
                {{#each this.orderItems}}
                {{this.quantity}}
                {{this.record.title}}
                
                {{/each}}
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>


{{/block}}

{{/extends}}