{{#extends 'base'}}

{{#block 'content'}}
<div class="container-fluid mt-3">
<div class="row">
<h4> Search </h4>
<div class="col col-3 ">
    <form method="GET">
        {{{orderSearchForm}}}
        <input type="submit" class="btn btn-outline-dark mt-3"/>
    </form>
</div>
<div class="col col-9">
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Name</th>
            <th>Customer Id</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Order Date</th>
            <th>Amount Paid</th>
            <th>Order Status</th>
            <th>Order Details</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.user.first_name}} {{this.user.last_name}}
            </td>
            <td>
                {{this.user.id}}
            </td>
            <td>
                {{this.user.address}}
            </td>
            <td>
                {{this.user.contact}}
            </td>
            <td>
                {{formatDate this.order_date}}
            </td>
            <td>
                {{dollarAmount this.payment_total}}
            </td>
            <td>
                {{this.status.action}}
            </td>
            <td>
                <a href="/orders/{{this.id}}/update" class="btn btn-secondary btn-sm">Update</a>
            </td>

            {{!-- <td>
                {{#each this.orderItems}}
                {{this.quantity}}
                {{this.record.title}}
                
                {{/each}}
            </td> --}}
        </tr>
        {{/each}}

    </tbody>
</table>
</div>
</div>
</div>


{{/block}}

{{/extends}}