{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Birthdate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each customers}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.first_name}} {{this.last_name}}
            </td>
            <td>
                {{this.email}}
            </td>
            <td>
                {{this.address}}
            </td>
            <td>
                {{this.contact}}
            </td>
            <td>
                {{formatDate this.birth_date}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{/extends}}